*       text=auto

*.js    text
*.json  text
*.yml   text
*.md    text

# So NPM publishes from windows don't screw things up
bin/*   text eol=lf

# Force specimens to just LF so tests work
test/specimens/* text eol=lf
