############
## OS
############

Thumbs.db
Desktop.ini
.DS_Store


#############
## Node/NPM
#############

node_modules
npm-debug.log

############
## Configger
############

# Testing file output
coverage
